@import "tailwindcss";

/* custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #000000;
  transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
  transform: scale(1.1);
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: #000000;
}
